.react-schedule-tab {
  height: 500px;
  overflow: auto;
}
.react-full-width {
  width: 100%;
}
.react-whitespace-fix {
  white-space: normal;
  padding: 2%;
}

.react-clickable {
  cursor: pointer;
}

.react-small-item {
  font-size: 10px;
}

.react-should-hide {
  display: none;
}

.react-padded {
  margin: 2% !important;
}

.react-cell {
  height: 200px;
  border: 1px solid #d4d4d5;
  overflow:hidden;
}

.react-grid-scroll {
  height: 600px;
  overflow: auto;
}

div.two.wide.column {
  padding: 0 !important;
}

.react-center-icon {
  margin: auto !important;
}

.react-small-description {
  font-size: 10px;
  line-height: 0;
  font-weight: 200;
}
