/*fix display issues on firefox 29 and below */

*,:after,:before{
-webkit-box-sizing:inherit;
-moz-box-sizing:inherit;
box-sizing:inherit
}

html{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
.react-schedule-tab {
  height: 500px;
  overflow: auto;
}
.react-full-width {
  width: 100%;
}
.react-whitespace-fix {
  white-space: normal;
  padding: 2%;
}

.react-clickable {
  cursor: pointer;
}

.react-small-item {
  font-size: 12px;
}

.react-should-hide {
  display: none;
}

.react-padded {
  margin: 2% !important;
}

.react-cell {
  height: 300px;
  border: 1px solid #d4d4d5;
}

.react-grid-scroll {
  height: 600px;
  overflow: auto;
}

.react-dropdown {
  padding-bottom: 0 !important;
  margin-bottom: 0.85rem !important;
}

.react-small-description {
  font-size: 10px;
  line-height: 0;
  font-weight: 200;
}

div.two.wide.column {
  padding: 0 !important;
}

.react-center-icon {
  margin: auto !important;
}

.react-computer-hide {
  display: none;
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

h5.ui.header {
  font-size: .8rem;
}

h5.ui.header .sub.header {
  font-size: .8rem;
}

/* General */
/*.addthisevent                 {visibility:hidden;}
*/.addthisevent span            {display:none!important;}
.addthisevent .data           {display:none!important;}

/* The button 
*/.addthisevent-drop            {display:inline-block;position:relative;text-decoration:none;cursor:pointer;}
.addthisevent-title:hover       {text-decoration:underline;}

 /*The drop down */
.addthisevent_dropdown          {width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:4px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown a       {display:block;line-height:100%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:9px 10px 9px 40px;}
.addthisevent_dropdown a:hover     {background-color:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
.addthisevent_dropdown em         {color:#999!important;font-size:12px!important;}
.addthisevent_dropdown .frs       {background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:normal!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;}
.addthisevent_dropdown .frs:hover     {color:#999!important;}
.addthisevent_dropdown .ateappleical  {background-image:url(../gfx/dropdown-apple-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ateoutlook    {background-image:url(../gfx/dropdown-outlook-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ateoutlookcom   {background-image:url(../gfx/dropdown-outlook-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ategoogle     {background-image:url(../gfx/dropdown-google-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ateyahoo    {background-image:url(../gfx/dropdown-yahoo-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .atefacebook   {background-image:url(../gfx/dropdown-facebook-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .copyx       {height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx       {height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
.addthisevent_show {display: block;}
.addthisevent_dropdown_left {margin-left:-112px;}

@media (max-width: 1060px) {
  .react-dropdown {
    font-size: 10px;
    margin-bottom: 1.88rem !important;
  }
}

@media (max-width: 835px) {
  .react-small-description {
    display: none;
  }
}

@media (max-width: 768px) {
  .react-grid-scroll {
    height: auto;
  }
  .react-mobile-hide {
    display: none;
  }
  .react-dropdown {
    font-size: 18px;
    width: 200px !important;
    display:block !important;
    margin: auto !important;
  }
  .react-small-description {
    display: block;
    line-height: 1.5;
  }
  .react-computer-hide {
    display: inherit;
  }
}
